table {
	border-collapse: collapse;
}

.complete {
	height: 70px;
	width: 70px;
	font-size: 3em;
}

.main td {
	border: 3px solid black;
}

.square td {
	border: 1px solid black;
	text-align: center;
}

.hint td {
	border: 1px dotted lightgray;
	color: lightgray;
	height: 20px;
	width: 20px;
}
